<div class="container pt-5">
    <footer class="footer my-5 py-5 border-top">
        <div class="row justify-content-between pt-5">
            <div class="col-12 d-flex  justify-content-center justify-content-lg-start">
                <a class="navbar-brand" href="/">
                    <img src="/assets/img/brand/dayl_logo_full.svg" width="150" class="mb-3">
                </a>            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0 text-center text-lg-left">
                <p>{{ "footer.text"|trans|raw }}</p>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center text-lg-left ml-auto">
                <span class="h5 font-weight-bold">{{ 'footer.about.title'|trans }}</span>
                <ul class="footer-links mt-2">
                    <li><a target="_blank"
                           href="https://github.com/andermurias/dayl">{{ 'footer.about.github'|trans }}</a></li>
                    <li><a href="/about/discover">{{ 'footer.about.discover'|trans }}</a></li>
                    <li><a href="mailto:ander@murias.nl">{{ 'footer.about.support'|trans }}</a></li>
                </ul>
            </div>
            <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0 text-center text-lg-left">
                <span class="h5 font-weight-bold">{{ 'footer.bottom.title'|trans }}</span>
                <ul class="footer-links mt-2">
                    <li><a href="/about/terms">{{ 'footer.bottom.terms'|trans }}</a></li>
                    <li><a href="/about/privacy">{{ 'footer.bottom.privacy'|trans }}</a></li>
                    <li><a href="/about/cookies">{{ 'footer.bottom.cookies'|trans }}</a></li>
                </ul>
            </div>
        </div>
    </footer>
</div>