{% extends 'landing.html.twig' %}

{% block content %}
    <main>
        <section class="section section-header text-dark py-5 my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 text-center mb-5 mb-md-7">
                        <h1 class="display-2 font-weight-bolder mb-3">
                            {{ 'home.title'|trans|raw }}
                        </h1>
                        <p class="lead mb-3 mb-lg-5">
                            {{ 'home.subtitle'|trans }}
                        </p>
                    </div>
                    <div class="col-10 col-md-6 justify-content-center">
                        <img class="d-inline-block w-100" src="/assets/img/tasks_computer.svg"
                             alt="Mobile App Mockup">
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg mb-5 mb-lg-0 ">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mx-auto">
                        <div class="card border-0 bg-white text-center p-1">
                            <div class="card-header bg-white border-0 pb-0">
                                <h2 class="h3 text-dark m-0">
                                    {{ 'home.section_info.left.title'|trans }}
                                </h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{ 'home.section_info.left.text'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mx-auto">
                        <div class="card border-0 bg-white text-center p-1">
                            <div class="card-header bg-white border-0 pb-0">
                                <h2 class="h3 text-dark m-0">
                                    {{ 'home.section_info.center.title'|trans }}
                                </h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{ 'home.section_info.center.text'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mx-auto">
                        <div class="card border-0 bg-white text-center p-1">
                            <div class="card-header bg-white border-0 pb-0">
                                <h2 class="h3 text-dark m-0">
                                    {{ 'home.section_info.right.title'|trans }}
                                </h2>
                            </div>
                            <div class="card-body">
                                <p>
                                    {{ 'home.section_info.right.text'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg bg-light my-5" id="about">
            <div class="container">
                <div class="row justify-content-center mb-3 mt-3 py-5">
                    <div class="col-12 col-lg-8 text-center">
                        <h2 class="h1 mb-3">{{ "home.section_divider.title"|trans|raw }}</h2>
                        <p class="lead">{{ "home.section_divider.text"|trans }}</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-lg" id="info">
            <div class="container">
                <div class="row row-grid align-items-center mb-5 pb-lg-5">
                    <div class="col-12 col-lg-6 text-center text-lg-left  mb-5">
                        <h2 class="mb-3">{{ "home.section_left.title"|trans }}</h2>
                        <p>
                            {{ "home.section_left.text"|trans|raw }}
                        </p>
                    </div>
                    <div class="col-12 col-lg-5 ml-lg-auto">
                        <img src="/assets/img/working.svg" class="w-100" alt="">
                    </div>
                </div>
                <div class="row row-grid align-items-center mb-5 pb-lg-5">
                    <div class="col-12 col-lg-6 order-lg-2 text-center text-lg-left  mb-5">
                        <h2 class="mb-3">{{ 'home.section_right.title'|trans }}</h2>
                        <p>
                            {{ "home.section_right.text"|trans|raw }}
                        </p>
                    </div>
                    <div class="col-12 col-lg-5 mr-lg-auto">
                        <img src="/assets/img/devices.svg" class="w-100" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-4 mb-5 pb-5 mx-auto d-flex">
                        <div class="card border-light p-3">
                            <div class="card-body">
                                <h2 class="display-2 mb-3">{{ "home.section_points.left.point"|trans|raw }}</h2>
                                <span>{{ "home.section_points.left.text"|trans|raw }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 pb-5 mx-auto d-flex">
                        <div class="card border-light p-3">
                            <div class="card-body">
                                <h2 class="display-2 mb-3">{{ "home.section_points.center.point"|trans|raw }}</h2>
                                <span>{{ "home.section_points.center.text"|trans|raw }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4 mb-5 pb-5 mx-auto d-flex">
                        <div class="card border-light p-3">
                            <div class="card-body">
                                <h2 class="display-2 mb-3">{{ "home.section_points.right.point"|trans|raw }}</h2>
                                <span>{{ "home.section_points.right.text"|trans|raw }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="section bg-soft" id="download">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-12 col-lg-6 text-center text-lg-left mb-5">
                        <h2 class="display-3 mb-3">{{ "home.secton_cta.title"|trans|raw }}</h2>
                        <p class="lead">{{ "home.secton_cta.text"|trans|raw }}</p>
                        <a href="#" class="btn btn-primary mt-3">
                            {{ 'home.secton_cta.button'|trans }}
                            <span class="icon icon-xs ml-2">
                                <i class="fas fa-arrow-right"></i>
                            </span>
                        </a>
                    </div>
                    <div class="col-12 col-lg-5 ml-lg-auto">
                        <img src="/assets/img/productive.svg" class="w-100" alt="">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}