{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body > div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity 0.5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded) > div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded > div.preloader {
            animation: hidePreloader 0.5s linear 0.5s forwards;
        }
    </style>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/landing/libs/@fortawesome/fontawesome-free/css/all.min.css"/>
    <!-- Quick CSS -->
    <link rel="stylesheet" href="/landing/css/quick-website.css" id="stylesheet"/>
{% endblock %}

{% block body %}
    {% include 'partials/_header.html.twig' %}
    <!-- Main content -->
    <section class="slice py-7">
        <div class="container">
            <div class="row row-grid align-items-center">
                <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
                    <!-- Image -->
                    <figure class="w-100">
                        <img
                                alt="Image placeholder"
                                src="/landing/img/svg/illustrations/illustration-3.svg"
                                class="img-fluid mw-md-120"
                        />
                    </figure>
                </div>
                <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
                    <!-- Heading -->
                    <h1 class="display-4 text-center text-md-left mb-3">
                        {{ 'home.title'|trans|raw }}
                    </h1>
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted">
                        {{ 'home.subtitle'|trans }}
                    </p>
                    <!-- Buttons -->
                    <div class="text-center text-md-left mt-5">
                        <a href="/login" class="btn btn-primary btn-lg">
                            <span class="btn-inner--text">{{ 'home.main_button'|trans }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-6">
            <span class="badge badge-soft-primary badge-pill badge-lg">
                {{ 'home.section_info.label'|trans }}
            </span>
                    <h2 class="mt-4">{{ 'home.section_info.title'|trans }}</h2>
                    <div class="mt-2">
                        <p class="lead lh-180">
                            {{ 'home.section_info.subtitle'|trans }}
                        </p>
                    </div>
                </div>
            </div>
            <!-- Card -->
            <div class="row mt-5">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img
                                        src="/landing/img/svg/illustrations/illustration-5.svg"
                                        class="img-fluid img-center"
                                        style="height: 150px;"
                                        alt="Illustration"
                                />
                            </div>
                            <h5 class="h4 lh-130 mb-3">
                                {{ 'home.section_info.info_block_1.title'|trans }}
                            </h5>
                            <p class="text-muted mb-0">
                                {{ 'home.section_info.info_block_1.text'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img
                                        src="/landing/img/svg/illustrations/illustration-6.svg"
                                        class="img-fluid img-center"
                                        style="height: 150px;"
                                        alt="Illustration"
                                />
                            </div>
                            <h5 class="h4 lh-130 mb-3">{{ 'home.section_info.info_block_2.title'|trans }}</h5>
                            <p class="text-muted mb-0">
                                {{ 'home.section_info.info_block_1.text'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body pb-5">
                            <div class="pt-4 pb-5">
                                <img
                                        src="/landing/img/svg/illustrations/illustration-7.svg"
                                        class="img-fluid img-center"
                                        style="height: 150px;"
                                        alt="Illustration"
                                />
                            </div>
                            <h5 class="h4 lh-130 mb-3">{{ 'home.section_info.info_block_3.title'|trans }}</h5>
                            <p class="text-muted mb-0">
                                {{ 'home.section_info.info_block_3.text'|trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="py-6">
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-5 order-lg-2">
                        <h5 class="h3">{{ 'home.section_about.title'|trans }}</h5>
                        <p class="lead my-4">
                            {{ 'home.section_about.subtitle'|trans }}
                        </p>
                        <ul class="list-unstyled mb-0">
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-file-invoice"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">{{ 'home.section_about.list_1'|trans }}</span>
                                    </div>
                                </div>
                            </li>
                            <li class="py-2">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                                            <i class="fas fa-store-alt"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span class="h6 mb-0">{{ 'home.section_about.list_2'|trans }}</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="card mb-0 mr-lg-5">
                            <div class="card-body p-0">
                                <img
                                        alt="Image placeholder"
                                        src="/landing/img/theme/light/frame-dayl-capture.png"
                                        class="img-fluid shadow rounded"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'partials/_footer.html.twig' %}
{% endblock %}

{% block javascripts %}

{% endblock %}