<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;600&display=swap"
          rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=1.1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=1.1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=1.1">
    <link rel="manifest" href="/favicon/site.webmanifest?v=1.1">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=1.1" color="#011627">
    <link rel="shortcut icon" href="/favicon/favicon.ico?v=1.1">
    <meta name="msapplication-TileColor" content="#011627">
    <meta name="msapplication-config" content="/favicon/browserconfig.xml?v=1.1">
    <meta name="theme-color" content="#011627">

    <title>{% block title %}{{ 'page.title'|trans }}{% endblock %}</title>

    {% block meta_social %}
        <!-- COMMON TAGS -->
        <!-- Search Engine -->
        <meta name="description" content="{{ 'page.description'|trans }}">
        <meta name="image" content="{{ app.request.getSchemeAndHttpHost() }}/static/branding/comercial/dayl_comercial_square.jpg">
        <!-- Schema.org for Google -->
        <meta itemprop="name" content="{{ 'page.title'|trans }}">
        <meta itemprop="description" content="{{ 'page.description'|trans }}">
        <meta itemprop="image" content="{{ app.request.getSchemeAndHttpHost() }}/static/branding/comercial/dayl_comercial_square.jpg">
        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{{ 'page.title'|trans }}">
        <meta name="twitter:description" content="{{ 'page.description'|trans }}">
        <meta name="twitter:image:src" content="{{ app.request.getSchemeAndHttpHost() }}/static/branding/comercial/dayl_comercial_square.jpg">

        <!-- Open Graph general (Facebook, Pinterest & Google+) -->
        <meta property="og:title" content="{{ 'page.title'|trans }}">
        <meta property="og:description" content="{{ 'page.description'|trans }}">
        <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() }}/static/branding/comercial/dayl_comercial_square.jpg">
        <meta property="og:url" content="https://dayl.om.nom.es">
        <meta property="og:site_name" content="dayl">
        <meta property="og:locale" content="en_EN">
        <meta property="og:type" content="website">
    {% endblock %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
